@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

    --primary-blue:       hsl(246, 80%, 60%);

    --primary-orange:     hsl(15, 100%, 70%);
    --primary-light-blue: hsl(195, 74%, 62%);
    --primary-red:        hsl(348, 100%, 68%);
    --primary-green:      hsl(145, 58%, 55%);
    --primary-violet:     hsl(264, 64%, 52%);
    --primary-yellow:     hsl(43, 84%, 65%);
    
    --neutral-dark-blue:    hsl(226, 43%, 10%);
    --neutral-blue:         hsl(235, 46%, 20%);
    --neutral-violet:       hsl(235, 45%, 61%);
    --neutral-light-violet: hsl(236, 100%, 87%);
}